@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono.woff2') format('woff2');
}

:root {
	--vp-font-family-base: 'General Sans', sans-serif;
	--vp-font-family-mono: 'JetBrains Mono', monospace;

	/* Tailwind CSS Neutral 950 */
	--vp-c-bg: oklch(14.5% 0 0);
	/* Tailwind CSS Neutral 900 */
	--vp-c-bg-alt: oklch(20.5% 0 0);
	/* Tailwind CSS Neutral 900 */
	--vp-c-bg-elv: oklch(20.5% 0 0);
	/* Tailwind CSS Neutral 800 */
	--vp-c-bg-soft: oklch(26.9% 0 0);

	/* Tailwind CSS Neutral 800 */
	--vp-c-border: oklch(26.9% 0 0);
	/* Tailwind CSS Neutral 800 */
	--vp-c-divider: oklch(26.9% 0 0);
	/* Tailwind CSS Neutral 800 */
	--vp-c-gutter: oklch(26.9% 0 0);

	/* Tailwind CSS Neutral 50 */
	--vp-c-text-1: oklch(98.5% 0 0);
	/* Tailwind CSS Neutral 400 */
	--vp-c-text-2: oklch(70.8% 0 0);
	/* Tailwind CSS Neutral 400 */
	--vp-c-text-3: oklch(70.8% 0 0);

	/* Tailwind CSS Neutral 950 */
	--vp-sidebar-bg-color: var(--vp-c-bg);
}
